h3 {
    color: black;
    margin-top: 10px;
    margin-bottom: 2px;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

hr.h-accent {
    border-color: black;
}

label.error {
    color: darkred;
    font-weight: 100;
    font-size: 0.75em;
    padding-left: 12px;
}